@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-stone-400/30 text-stone-50;
}

@layer base {
  @font-face {
    font-family: "Aeonik";
    src: url(/fonts/Aeonik.otf) format("otf");
  }
  @font-face {
    font-family: "Zodiak";
    src: url(/fonts/InstrumentSerif.ttf) format("ttf");
  }
}
