@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-zinc-400/30 text-zinc-50;
}

@layer base {
  @font-face {
    font-family: 'Aeonik';
    src: url(/fonts/Aeonik.otf) format('otf');
  }
  @font-face {
    font-family: 'Zodiak';
    src: url(/fonts/Zodiak.otf) format('otf');
  }
}
