---
import { Button } from "../components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 — Not Found">
  <main
    class="mx-auto flex w-full h-screen max-w-screen-md flex-col items-center justify-center gap-10 p-4 md:p-0"
  >
    <h1
      class="text-center font-serif text-3xl font-bold text-contrast-50 md:text-4xl"
    >
      404 — I can't find what you were looking for
    </h1>
    <div>
      <Button garnish href="./" title="Take me home" as="a" />
    </div>
  </main>
</Layout>
