---
import Image from 'astro/components/Image.astro'
import { AnimatedLink } from '../components/animated-link'
import { SocialsButton } from '../components/socials-button'
import { DialogBasicImage } from '../components/ui/image-dialog'
import Layout from '../layouts/Layout.astro'
---

<Layout title="João Pedro — Home">
  <main
    class="mx-auto mb-32 mt-10 flex w-full max-w-screen-sm flex-col items-start gap-16 p-4 md:p-0">
    <section
      class="flex flex-wrap items-center justify-start gap-x-8 font-serif text-2xl leading-snug text-stone-300 max-sm:text-xl [&>div>h1>p]:text-contrast-100 [&>p>a]:text-contrast-100">
      <div class="flex w-full flex-col items-start gap-y-10">
        <Image src="/stone-300-logo.png" alt="Logo" width="40" height="40" />
        <h1 class="flex w-full flex-wrap gap-x-2">Yo, I'm <p>João Pedro</p></h1>
      </div>
      <p class="flex w-full flex-wrap gap-x-2">
        a software engineer at
        <AnimatedLink
          href="https://www.intranetmall.com.br/br/"
          text="IntranetMall"
        />
      </p>
      <span class="flex w-full flex-wrap gap-x-2"
        >based in
        <DialogBasicImage contentImage="/hometown.png" alt="" client:load />
        SP, Brazil
      </span>
    </section>
    <section
      class="flex flex-col gap-y-8 font-sans text-stone-500 [&>p]:font-light">
      <h1 class="text-stone-300 max-sm:text-base md:text-lg">About</h1>
      <div
        class="space-y-4 text-sm transition-colors duration-300 md:text-base [&>p>em]:text-stone-300">
        <p>
          I work as a <em>Software Engineer</em> at IntranetMall, straddling the
          intersection of <em>pixels and code</em>. My passion lies in the sweet
          spot where <em>form meets function</em>, turning complex ideas into
          <em>polished digital experiences</em>. Beyond work, what truly
          inspires my craft is taking pictures, <a
            class="transition-colors duration-300 hover:text-stone-300"
            href="https://letterboxd.com/jotapzn/"
            target="_blank">diving into movies</a
          > and <a
            class="transition-colors duration-300 hover:text-stone-300"
            href="https://open.spotify.com/user/yw78qs7x7uerkgmw6ngpsd75n"
            target="_blank">listening to good music</a
          > — I&apos;m an art enthusiast.
        </p>
        <p>
          As a <em>creative kid</em> with an insatiable curiosity, I was always drawing,
          building, and seeking to understand the world around me. It didn't take
          long for me to realize that I would love to <em
            >create for the web.</em
          >
        </p>
        <p>
          If this combination interests you, I extend a warm invitation to my
          <em>humble abode on the internet</em>. Here, I'll share my musings
          about the path to becoming a great <em>design engineer</em>, recount
          my <em>software adventures</em>, and perhaps drop some random thoughts
          along the way.
        </p>
      </div>
    </section>
    <section class="mx-auto flex w-full items-center gap-2">
      <SocialsButton
        href="https://bsky.app/profile/jotapedev.bsky.social"
        text="BlueSky"
      />
      <span class="size-0.5 rounded-full bg-stone-100"></span>
      <SocialsButton
        href="https://www.linkedin.com/in/jo%C3%A3o-pedro-mattos-rodrigues-camargo/"
        text="LinkedIn"
      />
      <span class="size-0.5 rounded-full bg-stone-100"></span>
      <SocialsButton href="https://github.com/jotapemattos" text="GitHub" />
      <span class="size-0.5 rounded-full bg-stone-100"></span>
      <SocialsButton href="mailto:jotapemattos.dev@gmail.com" text="Email" />
    </section>
  </main>
</Layout>
