---
import Image from 'astro/components/Image.astro'
import { Button } from '../components/ui/button'
import { DialogBasicImage } from '../components/ui/image-dialog'
import Layout from '../layouts/Layout.astro'
---

<Layout title="João Pedro — Home">
  <main
    class="mx-auto mb-32 mt-10 flex w-full max-w-screen-sm flex-col items-start gap-10 p-4 md:p-0">
    <section
      class="flex flex-wrap items-center justify-start gap-x-8 font-serif text-2xl leading-snug text-stone-300 max-sm:text-xl [&>div>h1>p]:text-contrast-100 [&>p>a]:text-contrast-100">
      <div class="flex w-full flex-col items-start gap-y-10">
        <Image src="/stone-300-logo.png" alt="Logo" width="40" height="40" />
        <h1 class="flex w-full flex-wrap gap-x-2">
          Yo, <p>João Pedro</p> here
        </h1>
      </div>
      <span class="flex w-full flex-wrap gap-x-2"
        >I'm a software engineer based in
        <DialogBasicImage contentImage="/hometown.png" alt="" client:load />
        SP, Brazil
      </span>
    </section>
    <section
      class="flex flex-col gap-y-8 font-sans text-stone-500 [&>p]:font-light">
      <h1 class="text-stone-300 max-sm:text-base md:text-lg">About</h1>
      <div
        class="space-y-4 text-sm transition-colors duration-300 md:text-base [&>p>em]:text-stone-300">
        <p>
          Recently I felt the <em>need to journal my life</em> — we only live
          once, after all —, so I decided to combine it with my software engineer
          skills and <em>build a space</em> where I could share my experiences. This
          is more than just a portfolio. While I'll certainly <em>share work-related content, case studies and side projects
          </em> here, I'm really looking forward to posting<em
            > life updates and personal thoughts as well</em
          >. Let me start by introducing myself.
        </p>
        <p>
          I work as a <em>Software Engineer</em> at <a
            href="https://www.intranetmall.com.br/br/"
            target="_blank"
            class="group inline-flex items-center gap-x-1 transition-all duration-200 hover:text-stone-200 hover:underline"
            rel="noopener noreferrer">
            IntranetMall
          </a>
          , straddling the intersection of <em>pixels and code</em>. My passion
          lies in turning
          complex ideas into
          <em>polished digital experiences</em>. Beyond work, what truly
          fires me up is photography, <a
            class="transition-colors duration-300 hover:text-stone-300"
            href="https://letterboxd.com/jotapzn/"
            target="_blank">diving into movies</a
          >, <a
            class="transition-colors duration-300 hover:text-stone-300"
            href="https://open.spotify.com/user/yw78qs7x7uerkgmw6ngpsd75n"
            target="_blank">listening to good music</a
          > and experimenting with new recipes.
        </p>
        <p>
          As a <em>creative kid </em> with an insatiable curiosity, it didn't take
          long for me to realize that I would love to <em
            >create for the web.</em
          >
        </p>
      </div>
    </section>
    <section class="mx-auto flex w-full items-center gap-2">
      <Button
        href="https://bsky.app/profile/jotapedev.bsky.social"
        title="BlueSky"
        as="a"
        variant="link"
        className="p-0"
        external
      />
      <span class="size-0.5 rounded-full bg-stone-100"></span>
      <Button
        href="https://www.linkedin.com/in/jo%C3%A3o-pedro-mattos-rodrigues-camargo/"
        title="LinkedIn"
        as="a"
        variant="link"
        className="p-0"
        external
      />
      <span class="size-0.5 rounded-full bg-stone-100"></span>
      <Button
        href="https://github.com/jotapemattos"
        title="GitHub"
        as="a"
        variant="link"
        className="p-0"
        external
      />
      <span class="size-0.5 rounded-full bg-stone-100"></span>
      <Button
        href="mailto:jotapemattos.dev@gmail.com"
        title="Email"
        as="a"
        variant="link"
        className="p-0"
        external
      />
    </section>
  </main>
</Layout>
