---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Joao Pedro Mattos">
  <main class="mx-auto mt-10 flex w-full max-w-screen-lg flex-col items-start">
    <h1 class="text-contrast-100 font-serif text-9xl">
      Jotape, software engineer from Brasil
    </h1>
  </main>
</Layout>
