---
import Layout from '../layouts/Layout.astro'
const projects = [
  {
    name: 'Sabor Com Amor',
    image: '',
    repo: '',
    deploy: ''
  }
]
---

<Layout title="João Pedro — Side Projects">
  <main
    class="mx-auto mb-32 mt-10 flex w-full max-w-screen-sm flex-col items-start gap-16 p-4 md:p-0">
    <section class="flex flex-col gap-2 text-stone-300">
      <h1 class="font-serif text-2xl">Side Projects</h1>
      <p class="text-stone-500">
        Here you&apos;ll find some of what I&apos;m capable to do.
      </p>
    </section>
  </main>
</Layout>
